# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Terraform variables files
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc

# Provider lock file
.terraform.lock.hcl

# WireGuard configuration
*.conf
!client.conf.example

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 